@value primary-color, primary-color-transparent, font-color, font-color-todo, box-shadow, box-shadow-hover from '../../../styles/variables.css';

.button {
  display: block;
  width: 160px;
  min-height: 36px;
  margin: 5px auto;
  padding: 0px 10px;
  border: 0;
  border-radius: 2px;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: inherit;
  background-color: grey;
  outline: none;
  box-shadow: box-shadow;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: font-color;
  box-shadow: box-shadow-hover;
}

.button_disabled {
  composes: button;
  background-color: font-color-todo;
}

.button_disabled:hover,
.button_disabled:focus {
  background-color: font-color-todo;
}

.buttonHover {
  composes: button;
  width: 100%;
  margin: 5px 0;
  color: font-color;
  text-align: left;
  background-color: primary-color-transparent;
  text-transform: none;
  box-shadow: none;
}

.buttonHover:hover,
.buttonHover:focus {
  text-decoration: underline;
  background-color: primary-color;
}

.listLink {
  composes: buttonHover;
  min-height: 24px;
  font-size: 0.9rem;
}

.listLink:hover,
.listLink:focus {
  text-decoration: none;
}

.listLinkActive {
  composes: listLink;
  font-weight: 700;
}

.mapLink {
  composes: listLinkActive;
  min-height: 36px;
  padding: 0px;
  color: font-color;
}

.mapLink:hover,
.mapLink:focus {
  background-color: primary-color-transparent;
  box-shadow: none;
}

.menuItem {
  width: 36px;
  min-height: 36px;
  border: 1px solid white;
  border-radius: 5%;
  color: white;
  line-height: 28px;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  font-family: inherit;
  background-color: primary-color-transparent;
  outline: none;
  cursor: pointer;
}

.menuItem:hover,
.menuItem:focus {
  background-color: primary-color;
  box-shadow: box-shadow-hover;
}

.menuItem>img {
  width: 60%;
  height: auto;
}

.modalClose {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 5px;
  background-color: primary-color;
  border: 0;
}

.menuBack {
  composes: modalClose;
  left: 10px;
  right: 0;
  width: 16px;
}

.icon {
  width: 16px;
  height: 16px;
  padding: 5px;
  background-color: rgb(0,0,0,0);
  border: none;
  outline: none;  
  cursor: pointer;
}

.iconClose {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 470px) {
  .button {
    width: 130px;
  }
  .buttonHover {
    width: 100%;
  }
}

