.panel {
  position: relative;
  width: 25%;
  min-width: 170px;
  max-width: 400px;
  height: 100%;
  flex-grow: 1;
  padding: 5px;
  margin: 10px;
  border: 2px solid rgba(223, 217, 217, 0.774);
  border-radius: 2%;
  background-color: rgba(223, 217, 217, 0.774);
  box-shadow: 3px 3px 12px -4px rgba(0,0,0,0.69);
}

.title {
  text-align: center;
  margin: 5px;
}

.icon_wrapper {
  position: absolute;
  top: 5px;
  right: 7px;
}

.icon_wrapper_transformed {
  position: absolute;
  top: 15px;
  right: -2px;
  transform: rotate(180deg)
}


@media screen and (max-width: 780px) {
  .panel {
    width: 40%;
  }
}


