@value primary-color from '../../styles/variables.css';

.panel {
  position: relative;
  width: 25%;
  min-width: 200px;
  max-width: 400px;
  height: 100%;
  flex-grow: 1;
  padding: 5px;
  margin: 10px;
  border: 2px solid primary-color;
  border-radius: 2%;
  background-color: primary-color;
  box-shadow: 3px 3px 12px -4px rgba(0,0,0,0.69);
}

.title {
  margin: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media screen and (max-width: 970px) {
  .panel {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .title {
    font-size: 1rem;
  }
}


