@value primary-color, font-color from '../../../styles/variables.css';

.wrapper {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 133px;
}

.container {
  padding: 15px;
}

.header {
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  color: font-color;
  background-color:primary-color;
}


.arrow_back {
    position: absolute;
    top: 12px;
    left: 10px;
    transform: rotate(180deg);
} 

.title {
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

.forms_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

@media screen and (max-width: 900px) {
    .forms_container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 1.75rem;
    } 

    .forms_container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

@media screen and (max-width: 620px) {
  .wrapper {
    padding-bottom: 260px;
  }
}
