@value font-color from '../../styles/variables.css';

.properties_container {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 20px;
}

.properties_container > * {
  cursor: pointer;
}

.property {
  color: font-color;
}

@media screen and (max-width: 620px) {
  .properties_container {
    padding-bottom: 10px;
  }  
}