.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu_item {
  padding: 0 5px;
  color: white;
  text-decoration: none;
}

.menu_link {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 620px) {
  .menu_item {
    font-size: 28px;
  }
}

