@value font-color from '../../styles/variables.css';

.columns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 50%;
}

.todo {
  width: 87%;
  font-size: 1rem;
  border: 0;
  resize: none;
}

.date_container {
  display: flex;
  align-items: center;
}

.date_input {
  width: 160px;
  height: 24px;
}

.clock {
  width: 24px;
  height: 24px;
  padding: 10px;
}

.fullfilment {
  padding: 5px;
  color: font-color;
}

.fullfilment_input {
  width: 85px;
  height: 24px;
}

.error {
  min-height: 0.9rem;
  padding: 10px;
  font-size: 0.9rem;
  color: red;
}

@media screen and (max-width: 480px) {
  .date_input {
    width: 125px;
  }

  .fullfilment_input {
    width: 30px;
  }
}

@media screen and (max-width: 380px) {
  .columns_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .columns_container:last-child {
    flex-wrap: nowrap;
  }

  .column {
    width: 100%;
  }

  .fullfilment_input {
    width: 62px;
  }
}

