@value box-shadow, box-shadow-hover from '../../styles/variables.css'; 

.container {
  box-shadow: box-shadow;
  background-color: white;
}

.list {
  min-height: 10px;
  margin: 0;
  padding: 16px;
  list-style: none;
}

.item {
  padding: 3px;
  box-shadow: box-shadow;
  border-radius: 2px;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
  box-shadow: box-shadow-hover;
}

.item:not(:last-child) {
  margin-bottom: 8px;
}
