.container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 160px);
  padding: 15px;
}

@media screen and (max-width: 780px) {
  .container {
    flex-wrap: wrap;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 1000px;
  min-width: 270px;
  transform: translate(-50%, -50%);
  padding: 5px;
  /* margin: 10px; */
  outline: 0;
  border: 2px solid rgba(223, 217, 217, 0.774);
  border-radius: 2%;
  background-color: rgba(223, 217, 217, 0.774);
  box-shadow: 3px 3px 12px -4px rgba(0,0,0,0.69);
}

.iconClose {
  width: 16px;
  height: 16px;
}

.modal_map {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 95%;
  max-width: 1000px;
  min-width: 270px;
  transform: translate(-50%, -50%);
  padding: 5px;
  outline: 0;
  border: 2px solid rgba(223, 217, 217, 0.774);
  border-radius: 2%;
  background-color: rgba(223, 217, 217, 0.774);
  box-shadow: 3px 3px 12px -4px rgba(0,0,0,0.69);
}
.map {
  width: 95%;
  height: 90%;
}

