@value primary-color, box-shadow from '../../styles/variables.css';

.form {
  width: 40%;
  min-width: 250px;
  max-width: 600px;
  padding: 20px 20px 60px 20px;
  border: 2px solid primary-color;
  border-radius: 2%;
  background-color: primary-color;
  box-shadow: box-shadow;
}

.inputs_container {
  min-height: 160px;
}

.label {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 20px 0;
}

.input_title {
  display: inline-block;
  min-width: 100px;
}

.error {
    min-height: 0.9rem;
    font-size: 0.9rem;
    color: red;
}

@media screen and (max-width: 768px) {
    .form {
      width: 80%;
      margin-bottom: 30px;
    } 
}

@media screen and (max-width: 480px) {
  .form {
    width: 90%;
  }

  .date_input {
    width: 125px;
  }

  .fullfilment_input {
    width: 30px;
  }
}

@media screen and (max-width: 380px) {
  .columns_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .columns_container:last-child {
    flex-wrap: nowrap;
  }

  .column {
    width: 100%;
  }

  .fullfilment_input {
    width: 62px;
  }
}






