@value primary-color-solid, font-color from '../../styles/variables.css';

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.list {
  position: absolute;
  top: 0;
  right: 0%;
  width: 210px;
  border: 2px solid primary-color-solid;
  border-radius: 2%;
  background-color: primary-color-solid;
  z-index: 40;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: font-color;
}

.title {
  margin: 5px 0;
  padding: 0px 10px;
}

.iconClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  padding: 5px;
}

.open_options {
  position: absolute;
  top: 0;
  right: 13px;
  width: 20px;
  height: 20px;
  padding: 5px 10px 14px;
  font-size: 2em;
  color: font-color;
}
