.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: darkgrey;
}

.priority_low {
  width: 90%;
  border-bottom: 3px solid green;
}

.priority_normal {
  width: 90%;
  border-bottom: 3px solid rgb(255, 255, 29);
}

.priority_high {
  width: 90%;
  border-bottom: 3px solid red;
}

.date {
  margin: 5px;
  padding: 2px;
  border-radius: 10%;
  font-size: 0.8rem;
  background-color: green;
}

/* extends class!!! */
.date_pastdue {
  margin: 5px;
  padding: 2px;
  border-radius: 5%;
  font-size: 0.8rem;
  background-color: rgb(224, 103, 103);  
}

.text {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
  padding: 5px;
  color: darkgrey;
}

.clock {
  width: 16px;
  padding-right: 10px;
}

.fullfilment_container {
  width: 35%;
  height: 24px;
  background-color: lightgray;
  
}

.fullfilment {
  /* width: 20%; */
  height: 24px;
  line-height: 24px;
  text-align: center;
  /* border-radius: 50%;
  border: 2px solid grey; */
  font-size: 0.75rem;
  color: white;
  background-color: grey;
}


