@value font-color, font-color-todo from '../../styles/variables.css';

.todo {
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.priority {
  width: 100%;
}

.priority_low {
  composes: priority;
  border-bottom: 3px solid green;
}

.priority_normal {
  composes: priority;
  border-bottom: 3px solid rgb(255, 255, 29);
}

.priority_high {
  composes: priority;
  border-bottom: 3px solid red;
}

.date {
  margin: 5px;
  padding: 2px;
  border-radius: 10%;
  font-size: 0.8rem;
  background-color: green;
}

.date_pastdue {
  margin: 5px;
  padding: 2px;
  border-radius: 5%;
  font-size: 0.8rem;
  background-color: rgb(224, 103, 103);  
}

.text {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
  padding: 5px;
  color: font-color;
}

.clock {
  width: 16px;
  padding-right: 10px;
}

.fullfilment_container {
  position: relative;
  width: 35%;
  height: 24px;
  background-color: lightgray;
  
}

.fullfilment {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 0.75rem;
  color: white;
  background-color: font-color-todo;
}

.fullfilment_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




