@value primary-color, font-color from '../../../styles/variables.css';

.wrapper {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 133px;
}

.container {
  padding: 15px;
}

.header {
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  color: font-color;
  background-color:primary-color;
}

.header>h1 {
    margin: 0;
}

.title {
    margin: 50px;
    text-align: center;
    font-size: 1rem;
}

.video_container {
    margin: 50px auto;
    text-align: center;
}

.video {
    width: 60%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .header>h1 {
        font-size: 1.3rem;
    }

    .title {
        margin: 20px;
    }

    .video_container {
        margin: 20px auto;
    }

    .video {
        width: 80%;  
    }  
}

