.slider {
  position: relative;
  width: 9999px;
  height: 100vh;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: left 400ms;
}

.slide0 {
  composes: slide;
  display: block;
  background-image: url('../gallery/backgrounds/photo4.jpg');
}

.slide1 {
  composes: slide;
  background-image: url('../gallery/backgrounds/photo11.jpg');
}

.slide2 {
  composes: slide;
  background-image: url('../gallery/backgrounds/photo12.jpg');
}

.slide3 {
  composes: slide;
  background-image: url('../gallery/backgrounds/photo2.jpg');
}

.slide4 {
  composes: slide;
  background-image: url('../gallery/backgrounds/photo8.jpg');
}

.slide5 {
  composes: slide;
  background-image: url('../gallery/backgrounds/photo4.jpg');
}

.bar {
  position: absolute;
  left: 0;
  bottom: 133px;
  height: 7px;
  width: 0%;
  background-color: darkgrey;
  opacity: 0.7;
}

.text_wrapper {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.text {
  position: absolute;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

@media screen and (max-width: 880px) {
  .bar {
    bottom: 149px;
  }
}

@media screen and (max-width: 620px) {
  .bar {
    bottom: 256px;
  }

  .text {
    top: 30vh;
  }
}

@media screen and (max-width: 470px) {
  .bar {
    bottom: 244px;
  }
}

